@import "../../../styles/reset";
@import "../../../styles/variables";

//mixin

@mixin cardBgImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  width: 95vw;
  height: 100%;
  margin: 5% auto;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  p {
    margin-left: 20px;
  }
}
.filler {
  height: 50px;
}

.inputSearch {
  padding: 1em;
  margin: 1em;
  width: 90vw;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: thin solid lightgray;
  font-family: $primary-font;
  font-size: map-get($font-size, paragraph);
  box-shadow: $box-shadow;
}

.trending {
  //   border: thin solid black;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .card {
    width: 300px;
    height: 300px;
    margin: 10px;
    box-shadow: $box-shadow;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    border-radius: 20px;

    div {
      backface-visibility: hidden;
    }

    .back {
      transform: rotateY(180deg);
    }

    p {
      font-size: map-get($font-size, headline);
      margin: 10px;
    }

    button {
      margin: 10px;
      padding: 5px 15px;
      background: rgba(255, 205, 182, 0.9);
      border: none;
      box-shadow: $box-shadow;
      font-family: $secondary-font;
      letter-spacing: 0.2em;
      border-radius: 10px;
      transition: 0.3s ease-in;
      cursor: pointer;

      &:hover {
        background: rgb(253, 185, 154);
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.card.flipped {
  transform: rotateY(180deg);
  background-image: none;
  height: 100%;
}

.front {
  position: absolute;
  left: 20%;
  bottom: 0;

  p {
    color: white;
  }
}
.card1 {
  background-image: url("https://images.news18.com/ibnlive/uploads/2021/04/1618728765_einstein.jpg?im=FitAndFill,width=1200,height=900");
  @include cardBgImage;
}

.card2 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Portrait_of_Sir_Isaac_Newton%2C_1689.jpg/220px-Portrait_of_Sir_Isaac_Newton%2C_1689.jpg");
  @include cardBgImage;
}

.card3 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Marie_Curie_c._1920s.jpg/220px-Marie_Curie_c._1920s.jpg");
  @include cardBgImage;
}

.card4 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Justus_Sustermans_-_Portrait_of_Galileo_Galilei%2C_1636.jpg/220px-Justus_Sustermans_-_Portrait_of_Galileo_Galilei%2C_1636.jpg");
  @include cardBgImage;
}

.card5 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Charles_Darwin_seated_crop.jpg/220px-Charles_Darwin_seated_crop.jpg");
  @include cardBgImage;
}

.card6 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Stephen_Hawking.StarChild.jpg/220px-Stephen_Hawking.StarChild.jpg");
  @include cardBgImage;
}

.card7 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Nikolaus_Kopernikus.jpg/220px-Nikolaus_Kopernikus.jpg");
  @include cardBgImage;
}

.card8 {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/4/42/Richard_Feynman_Nobel.jpg/220px-Richard_Feynman_Nobel.jpg");
  @include cardBgImage;
}
